/* Estilos personalizados sobre la plantilla */

/* Fondo */
body {
    background-color: #F5F5F5;
}

.product-image:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

/* Mostrar dropdown al hacer hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Asegúrate que no aparezca mal posicionado */
.dropdown-menu {
    margin-top: 0;
    top: 100%;
}

/* Cambiar color del navbar active */
a.nav-link.active,
a.dropdown-item.active,
a.nav-link:hover,
a.dropdown-item:hover {
    color: #875B35 !important;
}

/* Hover en las cards de product*/
.product-cdivrd:hover .card-img {
    opacity: 0.8;
    ;
}